div {
    text-align:;
    font-family:arial;
    background-color:rgba(0,0,0,0.5);
    color: white;
    width: 100%; 
}
img {
	display:in-line block;
    width:50%
    height:50%
}
.hardware {
    background-image:url("images/hardware.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-attachment: fixed;
}
.software {
    background-image:url(images/software.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-attachment: fixed;
}
.html {
    background-image:url(images/html.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-attachment: fixed;
}
.css {
    background-image:url(images/css.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-attachment: fixed;
}
.javascript {
    background-image:url(images/javascript.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-attachment: fixed;
}
.appinventor {
    background-image:url(images/appinventor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-attachment: fixed;
}
.fpage {
    background-image:url(images/fpage.jpg);
    width:100%;
    height:100%;
}
#fpic {
    height:50%;
    width:100px;
}
	    
	    
    
